body{
	background-color: #E4E8EC;
}
#top{
	background: #222222;
	padding-top: 10px;
	padding-bottom: 10px;
}
#top a{
	font-size: 28px;
	cursor: pointer;
	color:#ffffff;
	font-family: Helvetica,Arial,sans-serif;
}
#top a:hover,.tab a:hover{
	TEXT-DECORATION:none;
	color:rgb(240,100,60);
}
.tab a{
	color: #222222;
	font-size: 16px;
	font-family:'微软雅黑', Helvetica,Arial,sans-serif;
}
.tabbar{
	margin-top: 120px;
}
.tab{
	float: left;
	cursor: pointer;
	text-align: center;
	vertical-align:middle;
	border-radius: 4px 4px 0px 0px;
	line-height: 30px;
	padding-top: 5px;
	width: 130px;
}
.tab_active{
	background: #abcdef;
}
#login{
	clear:both;
}
#loginForm label,#registForm label{
	color: #222222;
	font-size: 14px;
	font-family:'微软雅黑', Helvetica,Arial,sans-serif;
}
.button{
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
}
#regist{
	clear: both;
}
.footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #C0B9C4;
    margin-bottom: 0px;
    color: #999999;
    font-size: 14px;
    height:80px;
    text-align: center;
}
.footer hr {
    border-bottom: medium none;
    border-top: 1px dashed #CACACA;
    margin: 5px;
}