#title{
	font-size: 40px;
	margin-top: 15px;
	text-align: center;
}
#vender_logout{
	text-align:right;
	margin-top:10px;
	margin-right:20px;
	font-size: 14px;
	font-family:'微软雅黑', Helvetica,Arial,sans-serif;
}
#vender_logout a:hover{
	TEXT-DECORATION:none;
	color:rgb(240,100,60);
}
.mainMenu{
	cursor: pointer;
	height: 150px;
	text-align: center;
	float: top;
}
.menuButton{
	width: 100%;
	padding-top: 5px;
	text-align: left;
	padding-left: 20px;
	height:30px;
}
.errorTip{
	z-index:2;
	top:158px;
	height:24px;
	width: 100%;
	color:red;
	background-color:#f2dede;
	border-color:#eed3d7;
	padding-top: 5px;
	padding-left: 20px;
	color:#b94a48;
	position:fixed;
}


/*.mainMenuIcon_newPurchaseOrder{
	background-image: url(/home/Public/img/purchaseOrder.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_newSaleOrder{
	background-image: url(/home/Public/img/saleOrder.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_newCancelOrder{
	background-image: url(/home/Public/img/cancelOrder.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_dataAnalyse{
	background-image: url(/home/Public/img/dataAnalyse.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_wareInfo{
	background-image: url(/home/Public/img/wareInfo.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_venderInfo{
	background-image: url(/home/Public/img/venderInfo.png);
	width: 35px;height: 35px;
}
.buttonIcon{
	width: 27px;
	height: 27px;
}
.newOrderButtonImg{
	background: url(/home/Public/img/newOrder.png)  left top no-repeat;!important;
}
.viewOrderButtonImg{
	background: url(/home/Public/img/viewOrder.png)  left top no-repeat;!important;
}
.analyseOrderButtonImg{
	background: url(/home/Public/img/analyseOrder.png)  left top no-repeat;!important;
}
.newVenderButtonImg{
	background: url(/home/Public/img/newaVender.png)  left top no-repeat;!important;
}
.viewVenderButtonImg{
	background: url(/home/Public/img/viewVender.png)  left top no-repeat;!important;
}
.detailOrderButtonImg{
	background: url(/home/Public/img/detailOrder.png)  left top no-repeat;!important;
}
.allAnalyseButtonImg{
	background: url(/home/Public/img/allAnalyse.png)  left top no-repeat;!important;
}
.incomeButtonImg{
	background: url(/home/Public/img/income.png)  left top no-repeat;!important;
}
.venderListButtonImg{
	background: url(/home/Public/img/venderList.png)  left top no-repeat;!important;
}
.saleGridButtonImg{
	background: url(/home/Public/img/saleGrid.png)  left top no-repeat;!important;
.allWareButtonImg{
	background: url(/home/Public/img/viewWare.png)  left top no-repeat;!important;
}
}*/


.mainMenuIcon_newPurchaseOrder{
	background-image: url(/ecommercial/home/Public/img/purchaseOrder.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_newSaleOrder{
	background-image: url(/ecommercial/home/Public/img/saleOrder.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_newCancelOrder{
	background-image: url(/ecommercial/home/Public/img/cancelOrder.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_dataAnalyse{
	background-image: url(/ecommercial/home/Public/img/dataAnalyse.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_wareInfo{
	background-image: url(/ecommercial/home/Public/img/wareInfo.png);
	width: 35px;height: 35px;
}
.mainMenuIcon_venderInfo{
	background-image: url(/ecommercial/home/Public/img/venderInfo.png);
	width: 35px;height: 35px;
}
.buttonIcon{
	width: 27px;
	height: 27px;
}
.newOrderButtonImg{
	background: url(/ecommercial/home/Public/img/newOrder.png)  left top no-repeat;!important;
}
.viewOrderButtonImg{
	background: url(/ecommercial/home/Public/img/viewOrder.png)  left top no-repeat;!important;
}
.analyseOrderButtonImg{
	background: url(/ecommercial/home/Public/img/analyseOrder.png)  left top no-repeat;!important;
}
.newVenderButtonImg{
	background: url(/ecommercial/home/Public/img/newaVender.png)  left top no-repeat;!important;
}
.viewVenderButtonImg{
	background: url(/ecommercial/home/Public/img/viewVender.png)  left top no-repeat;!important;
}
.detailOrderButtonImg{
	background: url(/ecommercial/home/Public/img/detailOrder.png)  left top no-repeat;!important;
}
.allAnalyseButtonImg{
	background: url(/ecommercial/home/Public/img/allAnalyse.png)  left top no-repeat;!important;
}
.incomeButtonImg{
	background: url(/ecommercial/home/Public/img/income.png)  left top no-repeat;!important;
}
.allWareButtonImg{
	background: url(/ecommercial/home/Public/img/viewWare.png)  left top no-repeat;!important;
}
.saleGridButtonImg{
	background: url(/ecommercial/home/Public/img/saleGrid.png)  left top no-repeat;!important;
}
.venderListButtonImg{
	background: url(/ecommercial/home/Public/img/venderList.png)  left top no-repeat;!important;
}